aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
ase==3.23.0
asttokens
async-lru
async-timeout==5.0.1
attrs==24.2.0
babel
beautifulsoup4
bleach
boltons==25.0.0
bravado==11.1.0
bravado-core==6.1.1
Brotli
cached-property
cachetools==5.5.2
certifi==2024.8.30
cffi
charset-normalizer==3.4.0
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
Deprecated==1.2.15
dnspython==2.7.0
e3nn==0.5.5
emmet-core
entrypoints
exceptiongroup 
executing
fastjsonschema
filelock==3.13.1
filetype==1.2.0
flatten-dict==0.4.2
flexcache==0.3
flexparser==0.4
fonttools==4.55.3
fqdn
frozenlist==1.5.0
fsspec==2024.2.0
future
gmpy2
greenlet==3.1.1
h11
h2
hpack
httpcore
httpx
hyperframe
idna
importlib_metadata
importlib_resources==6.4.5
ipykernel
ipython
isoduration
jedi
Jinja2==3.1.3
joblib==1.4.2
json2html==1.3.0
json5
jsonpointer
jsonref==1.1.0
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
latexcodec
MarkupSafe==2.1.5
matplotlib==3.9.3
matplotlib-inline
mendeleev==0.19.0
mistune
monotonic==1.6
monty
mpcontribs-client==5.10.2
mpmath
msgpack==1.1.0
multidict==6.1.0
munkres==1.1.4
narwhals==1.34.1
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook
notebook_shim
numpy
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
olefile
opt-einsum-fx==0.1.4
opt_einsum==3.4.0
overrides
packaging
palettable
pandas==2.2.3
pandocfilters
pexpect
pickleshare
Pillow
Pint==0.24.4
pkgutil_resolve_name
platformdirs
plotly==6.0.1
prometheus_client
prompt_toolkit
propcache==0.2.1
psutil
ptyprocess
pure_eval
pybtex
pycparser
pydantic==2.10.3
pydantic-settings
pydantic_core==2.27.1
pyfiglet==0.8.post1
pyg-lib==0.4.0+pt25cu118
Pygments
pyIsEmail==2.0.1
pymatgen 
pymongo==4.12.0
pyparsing==3.2.0
PySocks
python-dateutil
python-dotenv
python-json-logger
pytz==2024.2
PyYAML
pyzmq
referencing
requests
requests-futures==1.0.2
rfc3339_validator
rfc3986-validator
rpds-py
ruamel.yaml
ruamel.yaml.clib==0.2.12
scikit-learn==1.6.0
scipy
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash
simplejson==3.20.1
six
sniffio
soupsieve
spglib
SQLAlchemy==2.0.36
stack_data
swagger-spec-validator==3.0.4
sympy==1.13.1
tabulate
terminado
threadpoolctl==3.5.0
tinycss2
tomli
torch==2.5.1+cu118
torch-geometric==2.6.1
torch_cluster==1.6.3+pt25cu118
torch_scatter==2.1.2+pt25cu118
torch_sparse==0.6.18+pt25cu118
torch_spline_conv==1.2.2+pt25cu118
tornado
tqdm
traitlets
triton==3.1.0
types-python-dateutil
typing-inspection
typing_extensions
typing_utils
tzdata==2024.2
ujson==5.10.0
uncertainties==3.2.2
unicodedata2
uri-template
urllib3==2.2.3
wcwidth
webcolors
webencodings
websocket-client
wrapt==1.17.0
yarl==1.18.3
zipp
zstandard==0.23.0
